@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --f-family: "Lato", sans-serif;
    --f-size: 2.4rem;

    --body-bg: #fbf8ef;
    --text-color: #776e65;
    --cell-bg: #cdc1b3;
    --board-bg: #bbada0;

    --board-size: 80vmin;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--text-color);
    background-color: var(--body-bg);
    font-family: var(--f-family);
    overscroll-behavior-y: none;
}

.wrapper {
    width: var(--board-size);
    max-width: 500px;
    margin: auto 25px;
    display: grid;
    gap: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    font-size: 3.2rem;
}

.score-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.score-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    height: 3.5rem;
    padding: 0 10px;
    background-color: #bbada0;
    border-radius: 5px;
}

.score-container span {
    display: block;
    text-align: center;
}

.score-container .label {
    color: #eee4da;
    font-weight: 600;
}

[data-score],
[data-best] {
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
}

[data-board] {
    --cell-gap: 1.5vmin;
    --cell-size: calc((100% - var(--cell-gap) * (var(--grid-size) + 1)) / var(--grid-size));
    position: relative;
    display: grid;
    width: var(--board-size);
    height: var(--board-size);
    max-width: 500px;
    max-height: 500px;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    gap: var(--cell-gap);
    padding: var(--cell-gap);
    list-style: none;
    user-select: none;
    background-color: var(--board-bg);
    border-radius: 5px;
    overflow: hidden;
}

[data-message] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba(238, 228, 218, 0.73);
    opacity: 1;
    z-index: 999;
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

[data-message]:not(.visible) {
    opacity: 0;
    z-index: -1;
}

[data-message] p {
    font-size: 4rem;
    font-weight: bold;
}

[data-message] button {
    border: none;
    border-radius: 3px;
    background-color: #8F7A66;
    color: #faf8ef;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    [data-message] {
        gap: 0.75rem;
    }

    [data-message] p {
        font-size: 3rem;
    }

    [data-message] button {
        padding: 7.5px 15px;
        font-size: 0.75rem;
    }
}

[data-cell] {
    background-color: var(--cell-bg);
    border-radius: 5px;
}

[data-tile] {
    position: absolute;
    top: calc(var(--y, 0) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x, 0) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    width: var(--cell-size);
    height: var(--cell-size);
    display: grid;
    place-items: center;
    font-size: var(--f-size);
    font-weight: 600;
    border-radius: 5px;
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@media screen and (max-width: 768px) {
    [data-tile] {
        font-size: calc(var(--f-size) / 2);
    }
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

[data-tile][data-value] {
    background-color: #FF8601;
    color: #F9F6F2;
}

[data-tile][data-value="2"] {
    background-color: #EEE4DA;
    color: #776E65;
}

[data-tile][data-value="4"] {
    background-color: #EDE0C8;
    color: #776E65;
}

[data-tile][data-value="8"] {
    background-color: #F2B179;
}

[data-tile][data-value="16"] {
    background-color: #F59563;
}

[data-tile][data-value="32"] {
    background-color: #F67C60;
}

[data-tile][data-value="64"] {
    background-color: #F65E3B;
}

[data-tile][data-value="128"] {
    background-color: #EDCF73;
}

[data-tile][data-value="256"] {
    background-color: #EDCC62;
}

[data-tile][data-value="512"] {
    background-color: #EDC850;
}

[data-tile][data-value="1024"] {
    background-color: #EDC53F;
}

[data-tile][data-value="2048"] {
    background-color: #EDC22D;
}

footer b {
    display: block;
    margin-bottom: 5px;
}